# US Aniversários de 2000 a 2014

Conjunto de dados tratado pela FiveThirtyEight, esté disponível no seguinte URL:<br>
https://github.com/fivethirtyeight/data/tree/master/births

Como podemos ver no link a baixo,estes dados estão associados na história de que algumas pessoas são supersticiosas demais para ter um bebê na sexta-feira 13.

Artigo/Link:

https://fivethirtyeight.com/features/some-people-are-too-superstitious-to-have-a-baby-on-friday-the-13th/

**Escolhemos este conjunto de dados porque**:
- Os dados são faceis de intrepretar;
- Tem estrutura simples;
- Os conteudos facilitam a análise; 
- Com este conjunto de dados, podemos tentar perceber alturas do ano em que a população está mais aberta a ter filhos, o que acaba por ser bastante curioso.

In [4]:
# Em primeiro lugar para ler o ficheiro (.csv), precisamos de importar a biblioteca Pandas

import pandas as pd

# Com utilização do método "read_csv()" obtemos a leitura do ficheiro .csv

df_data = pd.read_csv('US_births_2000-2014_SSA.csv')

# Com o método "head()" carregamos o numero de linhas que prentedemos neste caso 10
df_data.head(10)

   year  month  date_of_month  day_of_week  births
0  2000      1              1            6    9083
1  2000      1              2            7    8006
2  2000      1              3            1   11363
3  2000      1              4            2   13032
4  2000      1              5            3   12558
5  2000      1              6            4   12466
6  2000      1              7            5   12516
7  2000      1              8            6    8934
8  2000      1              9            7    7949
9  2000      1             10            1   11668

In [2]:
# Através da propriedade "dtypes" temos o tipo de dados de cada coluna.
df_data.dtypes

year             int64
month            int64
date_of_month    int64
day_of_week      int64
births           int64
dtype: object